<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h3>
        About <app-brand-name [name]="'full'"></app-brand-name>
      </h3>
      <p>
        My name is Payal Gandhi, and baking has always been more than a passion—it has been a way to
        bring joy to others through thoughtful, delicious treats. As a vegetarian who does not eat
        eggs, I KNOW how difficult it can be to find desserts that are both satisfying and aligned
        with specific dietary needs. My baking journey became even more personal as I learned to
        create incredible desserts without eggs, while also adapting recipes to be nut-free due to
        my son's allergies.
      </p>
      <p>
        As a mother of two wonderful children, I have spent years discovering creative techniques
        and high-quality ingredients that make it possible to bake desserts that are flavorful,
        inclusive, and made with care. That passion inspired me to create <app-brand-name [name]="'full'"></app-brand-name>. At
        <app-brand-name [name]="'first'"></app-brand-name>, we are dedicated to using organic ingredients,
        offering vegan options, creating strictly eggless desserts, and maintaining a nut-free
        approach whenever possible. Our goal is to provide treats that are both delicious and
        thoughtful, so everyone can enjoy something special.
      </p>
      <p>
        The name <app-brand-name [name]="'first'"></app-brand-name> stands for
        <span class="companyFirstName">P</span>ayal
        <span class="companyFirstName">'</span>s
        <span class="companyFirstName">O</span>rganic,
        <span class="companyFirstName">V</span>egan,
        <span class="companyFirstName">E</span>ggless, and
        <span class="companyFirstName">N</span>ut-Free Delights—a reflection of the values and care
        behind everything we bake. At <app-brand-name [name]="'full'"></app-brand-name>, we are redefining baking by proving that
        organic, vegan, eggless, and nut-free desserts can be every bit as indulgent, memorable, and
        extraordinary as traditional treats
      </p>
    </div>
  </div>
</div>
